.Header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  
}

#card-holder {
  display: flex;
}

.card {
  border: 1px solid black;
  width: 280px;
  height: 350px;
}